@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color: #2B3D50;
}
#head {
  font-family: monospace;
  color: #fff;
  margin: auto;
  padding: 35px;
  font-size: 40px;
  text-align: center;
}
#bar {
  text-align: center;
  width: 1503px;
  height: 40px;
  background-color: #181818	;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#red {
  background-color: #E94B35;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  left: -48%;
  bottom: -20%;
  position:relative;
}
#yellow {
  background-color: #f0f000;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  left: -45%;
  bottom: 30%;
  position:relative;
  display: block;
}
#green {
  background-color: #1AAF5C;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  left: -42%;
  bottom: 80%;
  position:relative;
  display: block;
}
#screen {
  background-color: white;
  width: 1500px;
  height: 700px;
  margin: 0 auto;
  padding: 1px;
}
.font {
  color: #fff;
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
}